header {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3rem;
  color: #2E2E2E;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.header_container {
  display: flex;
  justify-content: center;
}

.header_img {
  height: 10rem;
  
}