<main class="page__main">
    <div class="dataButton_container">
        <button class="dataButton js_savebtn">Save users</button>
        <button class="dataButton js_recoverbtn">Recover users</button>
        <button class="dataButton js_friendsbtn">Count friends</button>
    </div> 
    <div class="text_container">
        <p class=" textFriends js_friendsNumber">I have 0 friends
            <img class="triste" src="/images/triste.png" alt="icono triste">
        </p>
    </div>
    <!-- creo un UL en principio vacio y lo rellenare con JS -->
    <ul class="userList js_userList"></ul>
</main>
