@use 'core/reset';
@use 'layout/header';
@use 'layout/footer';


body {
    background-color: white;
}

.userList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1.8rem;
    margin-inline: 3rem;

       @media all and (min-width: 481px) and (max-width: 768px) {
            margin-inline: 2rem;  
    }   
}

.user_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 18rem;
    font-family: "Quicksand", sans-serif;
    color: #4B4B4B;
    padding-block: 1.5rem;
    background-color: lightgray;        
}

.user_img {
    border-radius: 1rem;
}

.user_name {
    color: #2E2E2E; 
}

.user_country {
    color: #555555; 
}

.user_username {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.dataButton {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    background-color: white;
    color: #2E2E2E;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

   @media all and (max-width: 480px) {
        width: 40vw;
        height: 5vh; 
    } 
}

.dataButton:hover {   
    background-color: #2E2E2E;
    color: white;
} 

.dataButton_container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 2rem;

@media all and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        gap: 2vw;
      }   
}

.friend {
    background-color: lightsalmon
}











